APP_NAME=FOODEX
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://foodex.50sols.com

APP_LOCALE=ar
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=solscool_foodex
DB_USERNAME=solscool_foodex
DB_PASSWORD=

SESSION_DRIVER=file
FILESYSTEM_DISK=local
CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@50sols.com
MAIL_FROM_NAME=FOODEX

FOODEX_INSTALL_LOCK=storage/app/system/installed.lock
FOODEX_INSTALL_PROGRESS=storage/app/system/install-progress.json
